{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    
    {% include "acervos/partials/_head.html" %}

    <body>
        <!-- Navigation-->
        {% include "acervos/partials/_navigation.html" %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre nós</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Um pedacinho de nossa cultura e de nossa dedicação pelo incentivo à leitura na população brasileira</p>                    
                </div>
            </div>
        </header>
        <style>
            .justificado {
                text-align: justify;
            }

            .form-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 70vh;
                margin-top: -5%;
                margin-bottom: -5%;
            }
    
            form {
                max-width: 400px;
            }

        </style>
        <section class="py-5 form-container">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">                    
                    <br>
                    <p class="fw-bolder text-white-50 justificado">A nossa equipe se encontra há 5 anos trabalhando em desenvolver cada vez mais o incentivo e o conhecimento literário para a população brasileira.</p>
                    <br>
                    <p class="fw-bolder text-white-50 justificado">Em nosso acervo, o leitor poderá descobrir diversos gêneros literários, que por sua vez, possam contribuir cada vez mais em seus gostos pessoais, assim como acadêmicos e culturais.</p>
                    <br>
                    <p class="fw-bolder text-white-50 justificado">Esperamos que os visitantes, ou futuros leitores, encontrem esse espaço e façam dele um ambiente confortável para adquirir seus novos livros, assim como incentivar amigos, colegas ou familiares a se aventurar no mundo mágico da literatura.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include "acervos/partials/_footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
