{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "acervos/partials/_head.html" %}
    <body>
        <!-- Navigation-->
        {% include "acervos/partials/_navigation.html" %}
        {% block content %}
            <main>
                <div class="container">
                    <div class="table-responsive text-nowrap">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Total a Pagar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <div class="item">
                                        <div class="iteminfo">
                                            <div class="p_img">
                                                <img src="{{ item.product.picture.url }}" alt="" />
                                            </div>
                                            <p>{{ item.product.name }}</p>
                                        </div>
                                        <div class="name">
                                            <p>{{ item.quantity }}</p>
                                        </div>
                                        <div class="name">
                                            <p>${{ item.product.price }}</p>
                                        </div>
                                        <div class="name">
                                            <p>${{ item.price }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        {% endblock content %}
        {% include "acervos/partials/_footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
