{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    {% include "acervos/partials/_head.html" %}
    <body>
        <!-- Navigation-->
        {% include "acervos/partials/_navigation.html" %}
        <style>
            .custom-hover-color:hover {
                background-color: #6c757d; /* Cor de destaque ao passar o mouse (cinza escuro) */
                color: #fff; /* Cor do texto ao passar o mouse (branco) */
            }
        </style>
        {% block content %}
            <main class="pt-4">
                <div class="container-fluid dark-grey-text">
                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        <!--Grid column-->
                        <div class="col-md-5 mb-4 text-center">
                            <img src="{% static "assets/Mangás/Livro - Chainsaw Man.jpg" %}" alt="..." height="400px">
                        </div>
                        <div class="col-md-6 mb-4">
                            <!--Content-->
                            <div class="p-4">
                                <p class="lead font-weight-bold text-white">Livro: {{ object.titulo }}</p>
                                <br>
                                <ul>
                                    <li>
                                        <p class="lead text-white">
                                            <span>Preço: R${{ object.preco }}</span>
                                        </p>
                                        <div class="d-flex justify-content-center align-items-center flex-column">
                                            <a class="btn btn-dark mt-auto" href="{% url "index" %}">Voltar ao Menu</a>
                                            <a class="btn btn-dark mt-2" href="{{ object.get_add_to_cart_url }}">Adicionar ao Carrinho</a>
                                        </div>
                                    </li>
                                    <br>
                                    <li>
                                        <p class="lead font-weight-bold text-white">Descrição:</p>
                                        <p class="text-white">{{ object.descricao }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </main>
                {% endblock content %}
                <!-- Footer-->
                {% include "acervos/partials/_footer.html" %}
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            </body>
        </html>
